[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "HRW"]
	path = HRW
	url = https://github.com/cran/HRW
[submodule "curvHDR"]
	path = curvHDR
	url = https://github.com/cran/curvHDR
[submodule "densEstBayes"]
	path = densEstBayes
	url = https://github.com/cran/densEstBayes
[submodule "gammSlice"]
	path = gammSlice
	url = https://github.com/cran/gammSlice
[submodule "gamselBayes"]
	path = gamselBayes
	url = https://github.com/cran/gamselBayes
[submodule "glmmEP"]
	path = glmmEP
	url = https://github.com/cran/glmmEP
